body {
    margin: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

.header {
    height: 50px;
    display: flex;
    padding: 1em;
    margin-bottom: 60px;
    background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
    align-items: center;
    color: white;
}

.footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
}

.footer > p {
    color: white;
    text-align: center;
    font-size: 0.75rem;
}

.logo {
    width: 50px;
    margin-right: 1em;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    width: 600px;
    padding: 0.5em;
}

.form > input {
    height: 25px;
    border-radius: 5px;
}

.form > button {
    height: 50px;
    grid-column: span 2;
    border-radius: 5px;
}